:root {
    /* Background */
    --color-bg: #F3EEE6;

    /* Folder */
    --color-folder: #D8A85D;
    --color-folder-dark: #B98235;
    --color-folder-light: #E7C37A;

    /* Papier / Content */
    --color-paper: #f8e7c4;
    --color-paper-secondary: #efd29a;

    /* Text */
    --color-text: rgb(43 38 32 / 0.65);

    /* Tabs */
    --color-tab-active: #f8e7c4;
    --color-tab-inactive: #d8b879;
    --color-tab-hover: #e8c98a;

    /* Details */
    --color-border: #CBBBA3;
    --color-shadow: rgba(43, 38, 32, 0.16);
    --color-border-folder-dark: #af7a2e;
    --grid-line-color: rgb(43 38 32 / 0.39);
}