.note-wall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-items: stretch;
    margin-top: 0.5rem;
    max-width: 100%;
    /*flex: 1;*/
    /*min-height: 0;*/
}

.project-wall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-items: stretch;
    margin-top: 0.5rem;
    max-width: 100%;

    flex: 1;
    min-height: 0;
}

.postit {
    position: relative;
    min-height: 250px;
    height: auto;
    padding: 1rem;
    box-shadow: 7px 9px 0 rgba(0, 0, 0, 0.12);
    background: var(--color-paper-secondary);
}

.postit-no-padding {
    padding: 0;
    position: relative;
    border: 6px solid white;
}

.postit-no-padding::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.45) 0%,
            rgba(255, 255, 255, 0.15) 28%,
            rgba(255, 255, 255, 0) 55%
    );

    mix-blend-mode: screen;
}

.postit-image-wrap {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 1;
}

.postit-image {
    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    display: block;
}

/*Kleber vom Postit*/
.postit::before {
    content: "";
    position: absolute;
    top: -1.0rem;
    left: 50%;
    width: 50%;
    height: 12%;
    max-height: 30px;
    background: rgba(255, 255, 255, 0.36);
    transform: translateX(-50%) rotate(-1.5deg);
    border: 1px solid rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.postit:nth-child(1) {
    transform: rotate(-2.2deg);
}

.postit:nth-child(2) {
    transform: rotate(1.5deg);
}

.postit:nth-child(3) {
    transform: rotate(-1.75deg);
}

.postit-project:nth-child(1) {
    transform: rotate(1deg);
}

.postit-project:hover:nth-child(1) {
    transform: perspective(1000px) rotateX(0.8deg) rotate(0.85deg);
    transform-origin: top center;
    box-shadow:
            7px 9px 0 rgba(0, 0, 0, 0.08),
            0 7px 10px rgba(0, 0, 0, 0.06);
}

.postit-project:nth-child(2) {
    transform: rotate(-2deg);
}

.postit-project:hover:nth-child(2) {
    transform: perspective(1000px) rotateX(0.8deg) rotate(-1.85deg);
    transform-origin: top center;
    box-shadow:
            7px 9px 0 rgba(0, 0, 0, 0.08),
            0 7px 10px rgba(0, 0, 0, 0.06);
}

.postit-project:nth-child(3) {
    transform: rotate(0.7deg);
}

.postit-project:hover:nth-child(3) {
    transform: perspective(1000px) rotateX(0.8deg) rotate(0.55deg);
    transform-origin: top center;
    box-shadow:
            7px 9px 0 rgba(0, 0, 0, 0.08),
            0 7px 10px rgba(0, 0, 0, 0.06);
}

.postit-project {
    word-spacing: 0.08em;
    line-height: 1.5;
    display: flex;
    flex-direction: column;

    transform-origin: top center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.postit-project .postit-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.postit-label, .card-label {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 700;
}

.postit-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postit-content .title{
    font-weight: 700;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.skill-grid button {
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    cursor: default;
    font-family: "Courier New", Courier, monospace;
    background: var(--color-folder-light);
    border: none;
}

.skill-grid button:hover {
    font-weight: bold;
    cursor: default;
}

/* Full HD / MacBook / kleinere Desktop Screens */
@media (max-width: 1920px) {
    .note-wall {
        gap: 2rem;
        align-items: stretch;
        margin-top: 0.4rem;
    }

    .postit{
        position: relative;
        min-height: 250px;
        padding: 0.7rem;
        box-shadow: 7px 9px 0 rgba(0, 0, 0, 0.12);
    }

    .postit-no-padding {
        padding: 0;
    }

    .postit-label, .card-label {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        letter-spacing: 0.08em;
    }

    .postit-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.85rem;
    }

    .skill-grid {
        gap: 0.25rem;
    }

    .skill-grid button {
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
    }
}

/* MacBook / kleinere Laptops */
@media (max-width: 1600px) {
    .note-wall {
        gap: 2rem;
        align-items: stretch;
        margin-top: 0.4rem;
    }

    .postit{
        position: relative;
        min-height: 150px;
        padding: 0.7rem;
        box-shadow: 7px 9px 0 rgba(0, 0, 0, 0.12);
    }

    .postit-no-padding {
        padding: 0;
    }

    .postit-label, .card-label {
        margin-bottom: 0.4rem;
        font-size: 0.9rem;
        letter-spacing: 0.08em;
    }

    .postit-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.8rem;
    }

    .skill-grid {
        gap: 0.25rem;
    }

    .skill-grid button {
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
    }
}

/* Laptops / kleinere Screens */
@media (max-width: 1440px) {

}

/* Tablets */
@media (max-width: 1024px) {

}

/* Handys */
@media (max-width: 768px) {

}

/* Kleine Handys */
@media (max-width: 480px) {

}

.project-meta {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-link{
    display: inline-block;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px dashed currentColor;
    width: fit-content;
}

.project-link:hover {
    opacity: 0.7;
}

.project-text {
    margin: 0;
}

.project-text .highlight{
    display: inline;
    background: rgb(255 244 2 / 0.5);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
